<form [formGroup]="formGroup">
  <div class="row mb-2">
    <div class="row mb-2">
      <label class="form-label col-2">{{'NAME'|translate}}</label>
      <div id="products">
        <tag-input formControlName='productTags' [displayBy]="'name'" [maxItems]="1" [placeholder]="placeholder"
                   [secondaryPlaceholder]="placeholder"
                   id="productTags">
          <tag-input-dropdown [autocompleteItems]="products" [displayBy]="'name'"
                              identifyBy="'idProduct'"></tag-input-dropdown>
        </tag-input>
      </div>
    </div>
    <div class="row mb-2">
      <label class="form-label me-2">{{'ITEMS'|translate}}</label>
      <input formControlName="items" class="input" max="50" min="1" name="items" required
             type="number" id="items" />
    </div>
    <div class="row mb-2">
      <label class="form-label col-2 me-2">{{'UNIT'|translate}}
        <input (change)="unitsCheckboxChange($event)" class="checkbox"
               type="checkbox" id="unitCheckbox"/>
      </label>
      <div class="col-2 me-2">
        <input formControlName="count" class="input form-control"
               id="count"
               min="0" name="count"
               pattern="/^[0-9]+(\.[0-9]{1,4})?$/" placeholder="{{'COUNT'|translate}}"
               step="0.0001" type="number"/>
      </div>
      <div class="col-2 me-2">
        <select formControlName="idUnit" class="form-select"
                name="idunit" id="idunit"
                required>
          <option [value]="0">{{'SELECT'|translate}}</option>
          <option *ngFor="let unit of units$ |async" [value]="unit.idUnit">{{unit.name}}</option>
        </select>
      </div>
    </div>
    <div class="row mb-2">
      <button (click)="navigateToShopping()" class="btn btn-outline-primary col-2 me-2" id="back">
        <i class="bi bi-arrow-left"></i>
        {{'BACK'|translate}}</button>
      <button (click)="saveStorage()"
              [disabled]="formGroup.valid"
              class="ms-2 btn btn-outline-danger col-2 me-2" id="save">
        <i class="bi bi-save"></i>
        {{ 'SAVE'|translate }}
      </button>
    </div>
  </div>
</form>
