<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="dashboard">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          {{ 'MENU.DICTIONARY.NAME' |translate }}
        </a>
        <ul class="dropdown-menu">
          <li><a class="nav-link" routerLink="categories">{{ 'MENU.DICTIONARY.CATEGORIES'|translate }}</a></li>
          <li><a class="nav-link" routerLink="inventories">{{ 'MENU.DICTIONARY.INVENTORIES' |translate }} </a></li>
          <li><a class="nav-link" routerLink="products">{{ 'MENU.DICTIONARY.PRODUCTS'|translate }} </a></li>
        </ul>
      </div>
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          {{ 'MENU.MANAGEMENT.NAME'|translate }}
        </a>
        <ul class="dropdown-menu">
          <li><a class="nav-link" routerLink="storages">{{ 'MENU.MANAGEMENT.STORAGES'|translate }} </a></li>
          <li><a class="nav-link" routerLink="manage">{{ 'MENU.MANAGEMENT.MANAGE'|translate }}</a></li>
          <li><a class="nav-link" routerLink="inventory">{{ 'MENU.MANAGEMENT.INVENTORY'|translate }} </a></li>
          <li><a class="nav-link" routerLink="consume">{{ 'MENU.MANAGEMENT.CONSUME'|translate }} </a></li>
          <li><a class="nav-link" routerLink="shopping">{{ 'MENU.MANAGEMENT.SHOPPING'|translate }} </a></li>
        </ul>
      </div>
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          {{ 'MENU.REPORTS.NAME'|translate }}
        </a>
        <ul class="dropdown-menu">
          <li><a class="nav-link" routerLink="expired">{{ 'MENU.REPORTS.EXPIRED'|translate }} </a></li>
          <li><a class="nav-link" routerLink="lastUsed">{{ 'MENU.REPORTS.USED'|translate }} </a></li>
          <li><a class="nav-link" routerLink="prediction">{{ 'MENU.REPORTS.PREDICTION'|translate }}</a></li>
          <li><a class="nav-link" routerLink="availability">{{ 'MENU.REPORTS.AVAILABILITY'|translate }}</a></li>
          <li><a class="nav-link" routerLink="nextExpired">{{ 'MENU.REPORTS.NEXT_DAY_EXPIRED'|translate }}</a></li>
          <li><a class="nav-link" routerLink="sumStorage">{{ 'MENU.REPORTS.SUM_VALUES'|translate }}</a></li>
          <li><a class="nav-link" routerLink="valueHistory">{{ 'MENU.REPORTS.STORAGE_HISTORY'|translate }}</a></li>
          <li><a class="nav-link" routerLink="priceHistory">{{ 'MENU.REPORTS.PRICE_HISTORY'|translate }}</a></li>
          <li><a class="nav-link" routerLink="sumCategories">{{ 'MENU.REPORTS.SUM_CATEGORIES'|translate }}</a></li>
        </ul>
      </div>
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          {{ 'MENU.PROPERTIES.NAME'|translate }}
        </a>
        <ul class="dropdown-menu">
          <li><a class="nav-link" routerLink="userProperties">{{ 'MENU.PROPERTIES.USER_PROPERTIES'|translate }}</a></li>
          <li><a class="nav-link" routerLink="dbBackup">{{ 'MENU.PROPERTIES.BACKUP'|translate }} </a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
