<div class="container">
  <div class="row mb-2">
    <fieldset class="fieldset">
      <div class="row mb-2">
        <label class="form-label col-2">{{'NAME'|translate}}</label>
        <input [(ngModel)]="product$.name" class="input col-3" maxlength="45" minlength="1"
               placeholder="{{'NAME'|translate}}" required type="text"/>
      </div>
      <div class="row mb-2">
        <label class="form-label col-2">{{'CATEGORY'|translate}}</label>
        <div class="col-3">
          <select [(ngModel)]="product$.idCategory" class="form-select" required id="category">
            <option [value]="0">{{'SELECT'|translate}}</option>
            <option *ngFor="let category of categories$" [value]="category.id">{{category.name}}</option>
          </select>
        </div>
      </div>
      <div class="row mb-2">
        <label class="form-label col-2">{{'ACTIVE'|translate}}</label>
        <div class="col-2">
          <input [(ngModel)]="product$.active" class="checkbox" name="Active" type="checkbox" id="active"/>
        </div>
      </div>
      <div class="row mb-2">
        <label class="form-label col-2">{{'FRAGILE'|translate}}</label>
        <div class="col-2">
          <input [(ngModel)]="product$.fragile" class="checkbox" name="Fragile" type="checkbox" id="fragile"/>
        </div>
      </div>
      <div class="row mb-2">
        <label class="form-label col-2">{{'DAYS.MIN'|translate}}</label>
        <input [(ngModel)]="product$.limitMin" class="input col-3" name="limitMin" required type="number" id="minDays"/>
      </div>
      <div class="row mb-2">
        <label class="form-label col-2">{{'DAYS.MED'|translate}}</label>
        <input [(ngModel)]="product$.limitMed" class="input col-3" name="limitMed" required type="number" id="medDays"/>
      </div>
      <div class="row mb-2">
        <label class="form-label col-2">{{'DAYS.MAX'|translate}}</label>
        <input [(ngModel)]="product$.limitMax" class="input col-3" name="limitMax" required type="number" id="maxDays"/>
      </div>
      <div class="row mb-2">
        <button (click)="backToProducts()" class="btn btn-outline-danger col-2 me-2" id="back">
          <i class="bi bi-arrow-left"></i>
          {{'BACK'|translate}}</button>
        <button (click)="save()" class="ms-2 btn btn-outline-primary col-2 me-2" id="save" [disabled]="product$.idCategory == 0 ||product$.name.length == 0">
          <i class="bi bi-save"></i>
          {{'SAVE'|translate}}
        </button>
      </div>
    </fieldset>
  </div>
</div>
