<div class="container">
  <div class="row">
    <h3>
      <i class="bi bi-calendar3-week"></i>
      {{ 'MENU.REPORTS.EXPIRED' | translate }}
    </h3>
  </div>
  <div class="mb-2">
    <app-download-file
      [documentName]="'expired.pdf'"
      [title]="'GET_PDF'"
      [documentType]="PdfReportsEnum.EXPIRED"
      [url]="'report/pdf/expired'"
    ></app-download-file>
  </div>
  <div class="row">
    <table
      class="table inventory-table table-striped table-condensed"
      id="table"
    >
      <thead>
        <tr>
          <th class="text-bold text-center">ID</th>
          <th class="text-bold text-center">
            {{ 'NAME' | translate }}
          </th>
          <th class="text-bold text-center">{{ 'ITEMS' | translate }}</th>
          <th class="text-bold text-center">{{ 'DATE' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of expired$ | async; let rowNr = index">
          <td
            [textContent]="rowNr + 1"
            style="vertical-align: middle"
            class="text-center"
          ></td>
          <td
            [textContent]="row.productName"
            style="vertical-align: middle"
            class="text-left"
          ></td>
          <td
            [textContent]="countItems(row.validList)"
            style="vertical-align: middle"
            class="text-center"
          ></td>
          <td class="text-left">
            <div *ngFor="let valid of row.validList" class="table-condensed">
              <span *ngIf="valid.validDate" class="text-center">
                <b><span [textContent]="valid.count"></span></b>
                &nbsp;(
                <span [textContent]="valid.validDate"></span>
                <span *ngIf="!valid.validDate" class="text-center">
                  <b><span [textContent]="valid.count"></span></b>
                </span>
                )
              </span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
